<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <%- include('./partials/meta') %>
    <!-- Bootstrap CSS -->
    <%- include('./partials/css') %>
  </head>
  <body>
    <%- include('./partials/navbar') %>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <%- include('./partials/script') %>
  </body>
</html>